name: OBViewer

on:
  push:
    # branches:
    #   - master
    tags:
      - 'v*'

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: "decode keystore"
        env:
          KEYSTORE_BASE64: ${{ secrets.KEYSTORE_BASE64 }}
        run: echo $KEYSTORE_BASE64 | base64 -d > $GITHUB_WORKSPACE/obviewer.jks
      - name: "generate key.properties"
        env:
          KEYSTORE_ALIAS: ${{ secrets.KEYSTORE_ALIAS }}
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
        run: |
          echo storePassword=$KEYSTORE_PASSWORD > $GITHUB_WORKSPACE/android/key.properties
          echo keyPassword=$KEYSTORE_PASSWORD >> $GITHUB_WORKSPACE/android/key.properties
          echo keyAlias=$KEYSTORE_ALIAS >> $GITHUB_WORKSPACE/android/key.properties
          echo storeFile=$GITHUB_WORKSPACE/obviewer.jks >> $GITHUB_WORKSPACE/android/key.properties
      - uses: actions/setup-java@v2
        with:
          distribution: 'zulu'
          java-version: '11'
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.13.5'
      - run: flutter pub get
      # - run: flutter test
      - run: flutter build apk --split-per-abi
      # - run: flutter build appbundle
      - uses: ncipollo/release-action@v1
        with:
          artifacts: "build/app/outputs/apk/release/*.apk"
          token: ${{ secrets.TOKEN }}
